<alaska-navigation
    max='{"medium":3, "large":4}'
    contentClass=".main-outlet"
    #navigation
    [attr.sticky]="sticky === true ? '' : null"
    [attr.slidebar]="slidebar === true ? '' : null"
    [attr.persistentHeader]="persistentHeader === true ? '' : null"
    [attr.mode]="slidebar === true ? 'vertical' : 'horizontal'">
    <img src="../assets/alaska-rain-logo-light.svg" alt="logo" slot="logo"/>
    <alaska-navmenu horizontal slot="left-menu" max="max">
      <alaska-navmenuitem bottomIndicator label="Dashboard" expanded>
        <alaska-navmenuitem label="Start" (click)="goToPage('start')">
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Inputs" (click)="goToPage('inputs')">
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Layouts" (click)="goToPage('layouts')">
        </alaska-navmenuitem>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Flights" (click)="goToPage('start')">
        <auro-icon customColor slot="icon" category="terminal" name="plane-diag-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem label="Group Menu" group>
        <auro-icon slot="icon" category="destination" name="sun" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
        <alaska-navmenuitem label="Child Icon" groupItem (click)="goToPage('start')">
          <auro-icon slot="icon" category="terminal" name="radar-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Child Icon" groupItem (click)="goToPage('start')">
          <auro-icon slot="icon" category="terminal" name="radar-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
        </alaska-navmenuitem>
        <alaska-navmenuitem label="With Child" groupItem>
          <auro-icon slot="icon" category="destination" name="sun" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
          <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
          <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
          <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
          <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
          <alaska-navmenuitem label="With Child">
            <auro-icon slot="icon" category="destination" name="car-rental" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
            <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
            <alaska-navmenuitem label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
          </alaska-navmenuitem>
        </alaska-navmenuitem>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="PNRS" (click)="goToPage('start')">
        <auro-icon customColor slot="icon" category="terminal" name="boarding-pass-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Guests" (click)="goToPage('start')">
        <auro-icon customColor slot="icon" category="interface" name="notification" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Tickets" (click)="goToPage('start')">
        <auro-icon customColor slot="icon" category="interface" name="notification" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Help" (click)="goToPage('start')">
        <auro-icon customColor slot="icon" category="alert" name="question-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
    </alaska-navmenu>
    <alaska-navmenu vertical slot="sidebar">
      <alaska-navmenuitem bottomIndicator label="With Child">
        <auro-icon slot="icon" category="destination" name="car-rental" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
        <alaska-navmenuitem label="Start" (click)="goToPage('start')">
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Inputs" (click)="goToPage('inputs')">
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Layouts" (click)="goToPage('layouts')">
        </alaska-navmenuitem>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Menu Item" marker tabindex="0" (click)="goToPage('start')">
        <auro-icon slot="icon" category="terminal" name="radar-stroke" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="Menu Item" (click)="goToPage('start')">
        <auro-icon slot="icon" category="destination" name="hotel" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator label="With Child">
        <auro-icon slot="icon" category="destination" name="sun" customsize [ngStyle]="{'width': '24px', 'height': '24px'}"></auro-icon>
        <alaska-navmenuitem bottomIndicator label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
        <alaska-navmenuitem bottomIndicator label="Child Item" (click)="goToPage('start')"></alaska-navmenuitem>
      </alaska-navmenuitem>
    </alaska-navmenu>
    <alaska-navmenu horizontal slot="right-menu">
      <alaska-navmenuitem label="Help" nolabel (click)="goToPage('start')">
        <auro-icon slot="icon" category="alert" name="question-stroke" customsize style="width: 24px;height: 24px;"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem label="Notifications" nolabel marker (click)="goToPage('start')">
        <auro-icon slot="icon" category="interface" name="notification" customsize style="width: 24px;height: 24px;"></auro-icon>
      </alaska-navmenuitem>
      <alaska-navmenuitem id="user" label="Ryan" nolabel (click)="goToPage('start')">
        <auro-icon slot="icon" category="interface" name="account-stroke" customSize style="width: 32px; height:32px;" customsize style="width: 24px;height: 24px;"></auro-icon>
      </alaska-navmenuitem>
    </alaska-navmenu>
    <alaska-navmenu
      vertical
      slot="sidebarFooter"
    >
      <div [ngStyle]="{ 'display': 'flex', 'flexDirection': 'column', 'margin': '10px 0' }">
        <alaska-navmenuitem label="Help" nolabel (click)="goToPage('start')">
          <auro-icon
            customColor
            slot="icon"
            category="alert"
            name="question-stroke"
            customsize
            [ngStyle]="{ 'width': '24px', 'height': '24px' }"
          ></auro-icon>
        </alaska-navmenuitem>
        <alaska-navmenuitem label="Notifications" nolabel (click)="goToPage('start')">
          <auro-icon
            customColor
            slot="icon"
            category="interface"
            name="notification"
            customsize
            [ngStyle]="{ 'width': '24px', 'height': '24px' }"
          ></auro-icon>
        </alaska-navmenuitem>
      </div>
      <alaska-navmenuitem
        id="user"
        label="User Name Longname"
        subLabel="useremaillongemail@saber.com"
        nolabel
        (click)="goToPage('start')"
      >
        <auro-icon
          customColor
          slot="icon"
          category="interface"
          name="account-stroke"
          customSize
          [ngStyle]="{ 'width': '32px', 'height': '32px' }"
        ></auro-icon>
      </alaska-navmenuitem>
    </alaska-navmenu>
</alaska-navigation>
<main class="main-outlet">
  <ods-button (click)="handleClick()" [buttontype]="buttonType" [disabled]="buttonDisabled">{{ buttonText }}</ods-button>
  <ods-button class="theme" (click)="handleThemeClick()" [buttontype]="buttonType">{{ buttonTextTheme }}</ods-button>
  <router-outlet></router-outlet>
</main>
