<div style="zoom: 0.8">
  <app-navigation action="search" [sticky]="true" [max]="5">
    <auro-alaska
      customColor
      slot="logo"
      official
      style="width: 72px"
    ></auro-alaska>
    <alaska-navmenu slot="left-menu">
      <alaska-navmenuitem
        value="start"
        routerLink="/start"
        routerLinkActive="active"
        bottomIndicator
        id="1"
        noIcon>
        <auro-icon
          customColor
          slot="left-icon"
          category="terminal"
          name="radar-stroke"
        ></auro-icon>
        <span slot="title">Start</span>
      </alaska-navmenuitem>
      <alaska-navmenuitem
        value="inputs"
        routerLink="/inputs"
        routerLinkActive="active"
        bottomIndicator
        id="2"
        noIcon>
        <auro-icon
          customColor
          slot="left-icon"
          category="terminal"
          name="plane-diag-stroke"
        ></auro-icon>
        <span slot="title">Inputs</span>
      </alaska-navmenuitem>
      <alaska-navmenuitem
        value="layouts"
        routerLink="/layouts"
        routerLinkActive="active"
        bottomIndicator
        id="3"
        noIcon>
        <auro-icon
          customColor
          slot="left-icon"
          category="terminal"
          name="boarding-pass-stroke"
        ></auro-icon>
        <span slot="title">Layouts</span>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator id="4" noIcon>
        <auro-icon
          customColor
          slot="left-icon"
          category="interface"
          name="notification"
        ></auro-icon>
        <span slot="title">Guests</span>
      </alaska-navmenuitem>
      <alaska-navmenuitem bottomIndicator id="5" noIcon>
        <auro-icon
          customColor
          slot="left-icon"
          category="interface"
          name="printer"
        ></auro-icon>
        <span slot="title">Tickets</span>
      </alaska-navmenuitem>
    </alaska-navmenu>
    <!-- <alaska-searchbar slot="right-menu"></alaska-searchbar> -->
    <alaska-navmenu slot="right-menu">
      <alaska-navmenuitem noIndicator id="3">
        <auro-icon
          customColor
          slot="left-icon"
          category="interface"
          name="account-stroke"
          style="color: var(--alaska-interaction-enabled-color);"
        ></auro-icon>
      </alaska-navmenuitem>
    </alaska-navmenu>
  </app-navigation>
</div>
<section class="main-outlet">
  <router-outlet></router-outlet>
</section>