<h1>Input Fields</h1>

<form [formGroup]="formGroup"
  class="form">

  <h2>Calendar</h2>

  <alaska-calendar
  forceNarrow
  disabledDates="[1659632400000]">Primary</alaska-calendar>
  <br><br>
  <alaska-calendar forceNarrow noRange disabledDates="[1659632400000]">Primary</alaska-calendar>
  <br><br>
  <alaska-calendar disabledDates="[1659632400000]">Primary</alaska-calendar>

  <h2>Datepicker</h2>

<pre>
  From Date: {{ fromDate }}
  To Date: {{ toDate }}
</pre>

  <alaska-datepicker
    (date-from-changed)="onDateFrom($event)"
    (date-to-changed)="onDateTo($event)"
    [doubleDatePicker]="true"
    [minDate]="1660097750257"
    [noRange]="undefined"
    [maxDate]="1670097845510"
    [disabledDates]=""
  >
  <alaska-button tertiary type="button" slot="btn-foot-left">
    Cancel
  </alaska-button>
  <alaska-button
    primary
    type="button"
    (onClick)="onDoneClick()"
    slot="btn-foot-right"
  >
    Done
  </alaska-button>
</alaska-datepicker>

<p>
  why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? why am I partially hidden? 
</p>

  <pre>Value: "{{ birthday.value }}"</pre>

  <h2>Input</h2>


  <alaska-input ngDefaultControl
    style="width: 320px"
    required
    type="text"
    formControlName="firstName"
    label="First Name"
    bordered>
  </alaska-input>

  <pre>Value: "{{ firstName.value }}"</pre>


  <h2>Popover</h2>


  <alaska-popover>
    <div css="background-color: pink;">
      Hello world
    </div>
    <a href="#"
      slot="trigger">Test Popover</a>
  </alaska-popover>

  <br /><br /><br /><br /><br /><br />

  <h2>Search Bar</h2>
  <alaska-searchbar ngDefaultControl
    formControlName="search"></alaska-searchbar>

  <pre>Value: "{{ search.value }}"</pre>

  <h2>Dropdown</h2>

  <alaska-dropdown ngDefaultControl
    formControlName="dropdown"
    >
    <alaska-menu style="display: flex; flex-direction: column;">
      <alaska-menu-item value="Test 1">Test 1</alaska-menu-item>
      <alaska-menu-item value="Test 2">Test 2</alaska-menu-item>
      <alaska-menu-item value="Test 3">Test 3</alaska-menu-item>
      <alaska-menu-item value="Test 4">Test 4</alaska-menu-item>
      <alaska-menu-item value="Test 5">Test 5</alaska-menu-item>
    </alaska-menu>
  </alaska-dropdown>

  <pre>Value: "{{ dropdown.value }}"</pre>

  <h2>Checkbox</h2>

  <alaska-checkbox id="checky" formControlName="checky" ngDefaultControl value="true"></alaska-checkbox>

  <pre>Value: "{{ checky.value }}"</pre>

  <h2>Radio</h2>

  <alaska-radio-group
  error=""
  formControlName="radioFun" ngDefaultControl
>
  <span slot="legend">Form label goes here</span>
  <alaska-radio
    tabindex="0"
    id="radio1"
    label="Yes"
    name="radioDemo"
    value="yes"
  ></alaska-radio>
  <alaska-radio
    tabindex="0"
    id="radio2"
    label="No"
    name="radioDemo"
    value="no"
  ></alaska-radio>
  <alaska-radio
    tabindex="0"
    id="radio3"
    label="Maybe"
    name="radioDemo"
    value="maybe"
  ></alaska-radio>
</alaska-radio-group>

<pre>Value: "{{ radioFun.value }}"</pre>

<h2>Segment Control</h2>


<alaska-segmentedcontrol-group
  style="display: block;padding-bottom: 12px"
  formControlName="segControl" ngDefaultControl
>
  <alaska-segmentedcontrol
    checked
    id="1"
    [disabled]="false"
    label="Label"
    name="segmentDemo"
    value="1"
  ></alaska-segmentedcontrol>
  <alaska-segmentedcontrol
    id="2"
    [disabled]="false"
    label="Label"
    name="segmentDemo"
    value="2"
  ></alaska-segmentedcontrol>
</alaska-segmentedcontrol-group>
<pre>Value: "{{ segControl.value }}"</pre>


<h2>Toggle</h2>

<alaska-toggle label="Basic" formControlName="toggles" ngDefaultControl></alaska-toggle>
<pre>Value: "{{ toggles.value }}"</pre>

</form>

