
<div class="wrapper">
  <h1>Bugs</h1>

  <h2>General</h2>

  <ul>
    <li>It is not clear how to set the font properly for components. Auro had this variable
      <code>$asset-font-circular-dir: 'https://resource.alaskaair.net/stylesheets/circular/'</code>
    </li>
    <ul>
      <li>Apparently I should be able to import with
      <code>@import "~@phtnalaska/design-tokens/dist/font-face.scss";</code>
      but the design tokens are missing the font as of 0.21.0.</li>
    </ul>
    <li>Lots of the documentation in the storybooks are just wrong. For instance Tags show <code>app-alert</code> instead of <code>alaska-alert</code></li>
  </ul>

  <h2>Accordian</h2>

  None

  <h2>Alerts</h2>

  None

  <h2>Badge</h2>

  None

  <h2>Chip</h2>

  None

  <h2>Date Picker</h2>

  <ul>
    <li>I have no idea how to data bind to this control. The documentation doesn't provide information about how to get the actual data out of the form element.</li>
  </ul>

  <h2>Elite Tags</h2>

  None

  <h2>Inputs</h2>

  <h3>InputFields</h3>

  None

  <h3>Popover</h3>

  <ul>
    <li>The popover does not seem to have any actual styling attributes associated with it. If you just put a raw div in the popover it looks weird.</li>
  </ul>

  <h3>Search Bar</h3>

  None

  <h3>Dropdown</h3>

  <ul>
    <li><s>Styling is wrong. If the text value doesn't fill out the width of the control the selection doesn't go the full width</s></li>
    <li>I have no idea how to data bind to this control. How do I get the selected value?</li>
  </ul>

  <h2>Menu</h2>

  None


  <h2>Navigation</h2>

  <ul>
    <li>Tabstops broken when turned into actual links - If the navigation items are given proper tabstops by being given proper links an extra tabstop is created. This harms accessibility and keyboard controls</li>
    <ol>
      <li>Add a navigation component</li>
      <li>Make the navigation entries link to something. In Angular's case this is done with the <code>routerLink="/start"</code> attribute</li>
      <li>Tab or Shift+Tab through the navigation</li>
      <li><strong>Expected:</strong> Each navigation point results in one "stop"</li>
      <li><strong>Actual:</strong> There is a phantom stop between each entry</li>
    </ol>
    <li><s>Layout is broken when using the icon or right aligned items - I suspect the published NPM package is out of date because the storybook version looks right</s></li>
    <!-- Fixed
    <li>Links are broken after resize</li>
    <ol>
      <li>Add links to all of the navigation parts so they actually change the content on the page</li>
      <li>Collapse the page so the links now appear under the hamburger</li>
      <li><strong>bug 1</strong> Links under the hamburger do not work</li>
      <li>Make the page wide again so the hamburger disappears</li>
      <li><strong>bug 2</strong> Links in top nav no longer work</li>
    </ol>
    -->
  </ul>

  <h2>Selector</h2>

  <h3>Checkbox</h3>

  <ul>
    <li>I have no idea how to data bind to this control. How do I get the selected value?</li>
  </ul>

  <h3>Radio</h3>

  None

  <h3>Segment Control</h3>

  <ul>
    <li>Segment control does not honor values set on initial load. In the demo my value is "2" but the firs telement is selected</li>
    <li>I see a javascript error on Cannot read properties of undefined (reading 'length'), at HTMLElement.reset (alaska-segmentedcontrol-group.js:65:1)</li>
  </ul>

  <h3>Toggle</h3>

  <ul>
    <li>I have no idea how to data bind to this control. How do I get the selected value?</li>
  </ul>

  <h2>Table</h2>

  None

</div>
